html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  position: absolute;
  height: 300px;
  text-align: center;
  padding: 5% 0;
}

form {
  width: 30%;
  padding: 5% 35% 35%;
}

input[type=email], input[type=password] {
  width: 100%;
  text-align: center;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  color: grey;
  border: 1px solid #f54040;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type=email]:focus, input[type=password]:focus {
  outline: none;
  border: 2px solid #f54040;
}

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

input[type=checkbox]:not(old) + label.input-label {
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em;
}

input[type=checkbox]:not(old) + label.input-label > span {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid #f54040;
  border-radius: 0.25em;
  vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label.input-label > span:before {
  content: "✓";
  display: block;
  width: 1em;
  color: #f54040;
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
}

.input-label {
  color: grey;
  padding-right: 1.5em;
  font-size: 0.875em;
}

input[type=submit] {
  width: 100%;
  background-color: #f54040;
  color: white;
  padding: 12px 12px;
  margin: 8px 0;
  margin-bottom: 40px;
  border: 2px solid #f54040;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  border: 2px solid #f54040;
  color: #f54040;
}

.forgot {
  color: grey;
  font-size: 0.875em;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 20% 0;
  }

  form {
    width: 80%;
    padding: 20% 10%;
  }
}
